    @media scree {
        
    }
            @keyframes cardFocus{
                20%{
                    transform: translateY(-8.5em);
                }
                30%{
                    z-index: 2;
                }
                
                100%{
                    transform: translateX(1.5em);
                    z-index: 2;
                }

            }
            @keyframes loseFocus {
                20%{
                    transform: translateY(-2em);
                }
                30%{
                    z-index: 1;
                }
                100%{
                    transform: translateY(-2em);
                }
                
            }
            .cardWrapper{
                /* position: absolute; */
                position: relative;
                height: auto;
                display: inline-flex;
                flex-wrap: wrap;
                /* right:25%; */
                top:.5em;
            } 
            .cardWrap{
                max-width:28em;
                max-height:15em;
                display: inline;
                position: relative;

            }
            .card{
                width: 100%;
                height: 100%;
                border-radius: 5%;
                box-shadow: 2px 3px 5px;
                border: solid black 1px;
                background-color: antiquewhite;
                position: relative;
                display:flex;
                flex-wrap: wrap;
                flex-direction: row;
            }
            .card:hover{
                transform: translateY(-1em);
                transition: ease .3s;
            }
            .card.active{
                animation: cardFocus .8s ease forwards;
                
            }
            .card.inactive{
                animation: loseFocus .8s ease forwards;
            }
            #card1{
                top:-0em;
                z-index: 1;
            }
            #card2{
                top:-13em;
                z-index: 1;
            }
            #card3{
                top:-26em;
                z-index: 1;
            }
            #card4{
                top:-39em;
                z-index: 1;
            }
            #card5{
                top:-52em;
                z-index: 1;
            }
            #card6{
                top:8em;
                z-index: 1;
            }
            .cardName{
                display: block;
                width: 100%;
                height: 20%;
                text-align: start;
            }
            .cardName h3{
                position: relative;
                left:1em;
                font-size: 1.2em;
            }
            .cardImage {
                position: relative;
                margin: -1em 0 0 1em;
            }
            .cardDetails{
                position: relative;
                width: 60%;
                top:-1em;
                margin: 0 0 0 2em;
            }
