
@keyframes typing {
    from {width: 0 }
    to { width: 50%}
}
@keyframes blink-caret {
    from, to {border-color: transparent}
    50% {border-color: orange;}
}
.wrapper{
    position: relative;
    width: 40em;
    height: 22em;
    top: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.termBackground{
    background-color: black;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 5%;
    border-top: 40px grey solid;
    z-index: 1;
}
.text{
    margin: 0 0 0 1em;
    padding: 0;
    position: relative;
    width: 100%;
    top:-1em;
    text-align: left;
    color: white;
}
h2, h3{
    display: inline;
}
.closeWindow{
    cursor: default;
    position: relative;
    top:-1.5em;
    left:45%;
    font-size: 1.2em;
    padding: none;
    display: inline;
    width: fit-content;
    margin: none;
    color: white;
    z-index: 2;
}
.closeWindow:hover{
    font-size: 1.3em;
}